@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    overflow-x: hidden;
}

.text {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 78.5%;
    color: white;
    font-weight: 700;
    font-size: xx-large;
    font-style: normal;
    font-family: "Poppins";

    >img {
        width: 100%;
        height: 83%;


    }

}

.custom-search-bar {
    position: absolute;
    height: 10%;
    left: 52%;
    transform: translateX(-50%);
    bottom: 0px;
    /* Adjust this value to position the search bar as needed */
    z-index: 1;
    /* Ensure search bar appears on top of the image */
}

@media (min-width: 768px) {
    .custom-search-bar {
        width: 90%;
        /* Half the width of the container on medium and larger screens */
    }
}

/* Remove border from image */
.card-img-top {
    border: none;
}

.navbar {
    position: sticky;
}

/* Style the search icon */
.bi-search {
    font-size: 3rem;
    /* Adjust the size of the icon */
    padding: 0.2rem;
    padding-left: 0.5%;
    /* Add padding to the icon */
    background-color: #e7e9eb;
    /* Set the background color */
    border-radius: 0.25rem;
    /* Add border radius / / Add margin to separate the icon from the input */
}

/* Increase the size of the placeholder text */
::placeholder {
    font-size: 1.8rem;
    /* Adjust the font size of the placeholder */
}

/* Increase the size of the button text */
.btn-search {
    font-size: 1.2rem;
    /* Adjust the font size of the button text */
}

.heading {
    font-size: 100px;
    position: relative;
    top: 300px;
    left: 5%;
    overflow: hidden;
}

span {
    color: red;


}

/* Define scrollbar width */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
    /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    /* Color of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* Color on hover */
}

p.heading {
    font-size: large;


}

.custom-card {
    height: 300px;
    margin: 10%;
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    z-index: 99;
    border-radius: 30px;
    transition: 0.3s ease;
    overflow: hidden;


}

.custom-container {

    overflow: hidden;
    height: 100% !important;
}

.custom-card img {
    height: 10vw;
    margin: 30px 00px;
    border-radius: 50%;
}

.card-info {
    margin-left: 10%;
}

.card-info h2 {
    overflow: hidden;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.custom-card:hover {
    transform: scale(1.05);
}

@media (max-width: 576px) {
    img {
        height: 20vw;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    img {
        height: 15vw;
    }
}